body {
    background-image: url('../fondo2.jpg');
    background-size: auto;
    height: 100vh;
}

form {
    margin: 35px;
}

label {
    font-weight: bold;
}

h2 {
    margin: auto;
    color: red;
}
