<body>
<div class="container mx-auto" style="text-align: center;">  
    <form class="form-group">
      <div class="form-group col-md-6 mx-auto">
        <label for="nombre" style="font-weight: bold;">Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre">
      </div>
  
      <div class="form-group col-md-6 mx-auto">
        <label for="desarrolladora" style="font-weight: bold;">Desarrolladora</label>
        <input type="text" name="desarrolladora" id="desarrolladora" placeholder="Desarrolladora" class="form-control" [(ngModel)]="cuadroDesarrolladora">
      </div>
  
      <div class="form-group col-md-6 mx-auto">
        <label for="consola" style="font-weight: bold;">Consola</label>
        <input type="text" name="consola" id="consola" placeholder="Consola" class="form-control" [(ngModel)]="cuadroConsola">
      </div>
  
      <div class="form-group col-md-6 mx-auto">
        <label for="anyo" style="font-weight: bold;">Año</label>
        <input type="number" name="anyo" id="anyo" placeholder="Año" class="form-control" [(ngModel)]="cuadroAnyo">
      </div>
  
      <div class="col mx-auto">
        <button type="submit" class="btn btn-primary" style="margin-top: 25px;background-color: rgb(31, 167, 160);" (click)="actualizarVideojuego()">Editar</button>
      </div>
    </form>
  </div>
</body>